Repository COS301-SE-2025/ELO-Learning, pull requests merged in 2025-06, with the labels that each got.

#77 76 UI fix styling
  frontend/next.config.mjs
  frontend/postcss.config.mjs
  frontend/src/app/dashboard/layout.jsx
  frontend/src/app/globals.css
  frontend/src/app/login-landing/layout.jsx
  frontend/src/app/login-landing/login/page.jsx
  frontend/src/app/login-landing/page.jsx
  frontend/src/app/login-landing/signup/age/page.jsx
  frontend/src/app/login-landing/signup/email/page.jsx
  frontend/src/app/login-landing/signup/grade/page.jsx
  frontend/src/app/login-landing/signup/page.jsx
  frontend/src/app/login-landing/signup/password/page.jsx
  frontend/src/app/login-landing/signup/username/page.jsx
  frontend/src/app/match/layout.jsx
  frontend/src/app/practice/layout.jsx
  frontend/src/app/practice/page.jsx
  frontend/src/app/profile/layout.jsx
  frontend/src/app/question-templates/layout.jsx
  frontend/src/app/question-templates/multiple-choice/q1/page.jsx
  frontend/src/app/question-templates/multiple-choice/q2/page.jsx
  frontend/src/app/question-templates/multiple-choice/q3/page.jsx
  frontend/src/app/styles/login-pages.css
  frontend/src/app/timed/layout.jsx
  frontend/src/app/ui/header-content.jsx
  frontend/src/app/ui/header.jsx
  frontend/src/app/ui/leaderboard-table.jsx
  frontend/src/app/ui/mc-template.jsx
  frontend/src/app/ui/progress-bar.jsx
  frontend/src/app/ui/subcategories.jsx
  frontend/tailwind.config.js
  readme.md
Labels: bug, frontend

#95 14 UI memo
  .DS_Store
  frontend/src/app/end-screen/page.jsx
  frontend/src/app/globals.css
  frontend/src/app/memo/layout.jsx
  frontend/src/app/memo/page.jsx
  frontend/src/app/ui/client-wrapper.jsx
  frontend/src/app/ui/end-screen-ui/end-screen-score.jsx
  frontend/src/app/ui/end-screen-ui/end-screen-total-xp.jsx
  frontend/src/app/ui/lives.jsx
  frontend/src/app/ui/memo/question-num.jsx
  frontend/src/app/ui/memo/right-answer.jsx
  frontend/src/app/ui/memo/wrong-answer.jsx
  frontend/yarn.lock
Labels: frontend, user story

#101 100 UI hook up login
  backend/src/server.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/user.svg
  frontend/src/app/globals.css
  frontend/src/app/login-landing/login/page.jsx
  frontend/src/app/login-landing/signup/age/page.jsx
  frontend/src/app/login-landing/signup/email/page.jsx
  frontend/src/app/login-landing/signup/grade/page.jsx
  frontend/src/app/login-landing/signup/page.jsx
  frontend/src/app/login-landing/signup/password/page.jsx
  frontend/src/app/login-landing/signup/registrationUtils.js
  frontend/src/app/login-landing/signup/username/page.jsx
  frontend/src/app/profile/layout.jsx
  frontend/src/app/profile/page.jsx
  frontend/src/app/settings/page.jsx
  frontend/src/app/settings/template.jsx
  frontend/src/app/ui/back.jsx
  frontend/src/app/ui/help/faq.jsx
  frontend/src/app/ui/nav-links.jsx
  frontend/src/app/ui/profile/achievements.jsx
  frontend/src/app/ui/profile/match-stats.jsx
  frontend/src/app/ui/profile/picture-block.jsx
  frontend/src/app/ui/profile/user-info.jsx
  frontend/src/app/ui/profile/username-block.jsx
  frontend/src/services/api.js
  frontend/yarn.lock
Labels: frontend, task

#113 fixed broken server
  backend/src/server.js
Labels: frontend

#109 69 testing frontend
  .github/workflows/lint-and-test.yml
  frontend/cypress.config.js
  frontend/cypress/e2e/api-integration.cy.jsx
  frontend/cypress/e2e/authentication.cy.jsx
  frontend/cypress/e2e/component-tests.cy.jsx
  frontend/cypress/e2e/game-modes.cy.jsx
  frontend/cypress/e2e/landing-page.cy.jsx
  frontend/cypress/e2e/math-input.cy.jsx
  frontend/cypress/e2e/navigation.cy.jsx
  frontend/cypress/e2e/user-profile.cy.jsx
  frontend/cypress/integration/form-workflows.cy.js
  frontend/cypress/integration/navigation-flows.cy.js
  frontend/cypress/integration/user-journey.cy.js
  frontend/cypress/tsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/not-found.jsx
  frontend/src/utils/frontendMathValidator.js
  frontend/yarn.lock
Labels: frontend

#127 126 UI redirect bug
  frontend/src/app/page.jsx
  frontend/src/middleware.js
  readme.md
Labels: bug, frontend
